<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HusayBaybayApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HusayBaybay"
        tools:targetApi="31">

        <activity android:name=".ui.GameResultActivity" />
        <activity android:name=".ui.DefinitionGameActivity" />
        <activity android:name=".ui.DefinitionIntroActivity" />
        <activity android:name=".ui.AudioGameActivity" />
        <activity android:name=".ui.AudioIntroActivity" />
        <activity android:name=".ui.FlashPickGameActivity" />
        <activity android:name=".ui.FlashPickIntroActivity" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.WordDetailActivity" />
        <activity android:name=".ui.DictionaryListActivity" />
        <activity android:name=".ui.GamesMenuActivity" />
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.AdminDashboardActivity" />
        <activity android:name=".ui.PdfViewerActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.ManageSectionsActivity" />

        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>